altair_saver==0.5.0
altair_viewer==0.4.0
AppKit==0.2.8
atheris==2.3.0
beautifulsoup4==4.12.2
bjoern==3.2.2
bokeh==3.2.2
boto3==1.28.53
botocore==1.31.53
brotli==1.1.0
brotlicffi==1.1.0.0
cftime==1.6.2
chart_studio==1.1.0
Cheetah==2.4.4
cherrypy==18.8.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.4
ctypes_snappy==1.03
cycler==0.11.0
Cython==3.0.2
cytoolz==0.12.2
dask==2023.9.2
defusedxml==0.7.1
diesel==3.0.24
Django==4.2.5
dl==0.1.0
docutils==0.20.1
eventlet==0.33.3
fastparquet==2023.8.0
flup==1.0.3
folium==0.14.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.9.2
genapi==0.0.8
gevent==23.9.1
gitdb_speedups==0.1.0
gunicorn==21.2.0
HTMLParser==0.0.2
hypothesis==6.86.2
ipython==8.15.0
ipywidgets==8.1.1
isoduration==20.11.0
jnius==1.1.0
JPype1==1.4.1
jsonpointer==2.4
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
Mako==1.2.4
matplotlib==3.7.1
meinheld==1.0.2
mock==5.1.0
mtrand==0.1
mypy==1.5.1
numarray==1.5.1
Numeric==24.2
numexpr==2.8.6
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.2
PasteScript==3.3.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.17.0
psutil==5.9.5
psycopg2==2.9.7
py==1.11.0
pycares==4.3.0
pycurl==7.45.2
pydantic==2.3.0
PyInstaller==6.0.0
pyOpenSSL==23.2.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
PyQt6==6.5.2
pyrsistent==0.19.3
PySide2==5.15.2.1
PySide6==6.5.2
pytest==7.4.2
python-socketio==5.9.0
pyxlsb==1.0.10
PyYAML==6.0.1
qtpy==2.4.0
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
s3fs==2023.9.2
scikit_learn==1.3.1
scipy==1.11.2
sets==0.3.2
setuptools_scm==8.0.3
simplejson==3.19.1
snowflake==0.0.4
Sphinx==7.2.6
SQLAlchemy==2.0.21
statsmodels==0.14.0
streamlit_folium==0.12.0
sympy==1.12
tables==3.8.0
testbench==0.1.2
threadpoolctl==3.2.0
traitlets==5.10.0
trove_classifiers==2023.9.19
truststore==0.8.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
waitress==2.1.2
watchdog==3.0.0
webcolors==1.13
xarray==2023.8.0
xlrd==2.0.1
xlsxwriter==3.1.4
xmlrpclib==1.0.1
zstandard==0.21.0
